<!DOCTYPE html>
<html>
<head>
  <title>Database Table Example</title>
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="../static/styles.css">
</head>
<body>

   <!-- Navbar -->
   <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#"><img class = "logoNav" src="../static/assests/logo-03.png" alt="Logo"></a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item active">
          <a class="nav-link" href="#">Account</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Add-on library</a>
        </li>
        <li class="nav-item signOutBtn">
          <a class="nav-link" href="#">Sign out</a>
        </li>
      </ul>
    </div>
  </nav>

  <!-- Content -->
  <div class="container mt-4">
    <h2>Database Table</h2>

     <!-- Filtering Options -->

    <div class="row justify-content-md flex-row-reverse mb-3">
        <div class="col-md-auto">
            <div class="dropdown">
                <button class="btn btn-outline-secondary" type="button">Day of the Week</button>
                <div class="dropdown-content" id="checkboxContainer">
                    <input type="checkbox" id="checkboxSunday" value = "Sunday" onchange="filterTable()">
                    <label for="checkboxSunday">Sunday</label><br>
                    <input type="checkbox" id="checkboxMonday" value = "Monday"onchange="filterTable()">
                    <label for="checkboxMonday">Monday</label><br>
                    <input type="checkbox" id="checkboxTuesday" value = "Tuesday" onchange="filterTable()">
                    <label for="checkboxTuesday">Tuesday</label><br>
                    <input type="checkbox" id="checkboxWednseday" value = "Wednesday" onchange="filterTable()">
                    <label for="checkboxWednseday">Wednesday</label><br>
                    <input type="checkbox" id="checkboxThursday" value = "Thursday" onchange="filterTable()">
                    <label for="checkboxThursday">Thursday</label><br>
                    <input type="checkbox" id="checkboxFriday" value = "Friday" onchange="filterTable()">
                    <label for="checkboxFriday">Friday</label><br>
                    <input type="checkbox" id="checkboxSaturday" value = "Saturday" onchange="filterTable()">
                    <label for="checkboxSaturday">Saturday</label>
                </div>
              </div>
        </div>
        <div class="col-md-auto">
            <div class="dropdown">
                <button class="btn btn-outline-secondary" type="button">Time of the day</button>
                <div class="dropdown-content">
                    <input type="checkbox" name="days" value="AM">AM<br>
                    <input type="checkbox" name="days" value="PM">PM<br>
                </div>
                </div>
        </div>
        </div>

    

    <!-- Table -->
    <table class="table" id="myTable">
      <thead class="thead-dark">
        <tr>
          <th></th>
          <th>First name</th>
          <th>Last name</th>
          <th>Day preference</th>
          <th>Time preference</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <td><input type="checkbox"></td>
            <td>Dummy</td>
            <td>Data</td>
            <td>Monday</td>
            <td>AM</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>Ana</td>
            <td>Karpova</td>
            <td>Tuesday</td>
            <td>AM</td>
        </tr>
        <tr>
            <td><input type="checkbox"></td>
            <td>Chris</td>
            <td>Chong</td>
            <td>Monday</td>
            <td>PM</td>
        </tr>
      </tbody>
    </table>

    <!-- Send Notification Button -->
    <button class="btn btn-primary" type="button">Send Notification</button>
  </div>

  <!-- Bootstrap JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
  <script src="../static/functions.js"></script>
</body>
</html>
