{% extends "layout.html" %}
	{% block content %}
	<div class="container">
		<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
		<!-- <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script> -->


		<div>
		  <h1>Client Overview</h1>
		  <hr>
		  <div id="table"></div>
		</div>

		<script type="module">
			// import { html, render } from 'https://unpkg.com/htm/preact/standalone.module.js';
			import { Grid, h, html } from "https://unpkg.com/gridjs?module";


		  new Grid({



			  columns: [
				  { id: 'name', name: 'Name' },
                  { id: 'minDuration', name: html('Min<br/>slot') },
				{ id: 'mon', name: 'Mon', sort: false },
				{ id: 'tue', name: 'Tues', sort: false },
				{ id: 'wed', name: 'Wed', sort: false },
				{ id: 'thur', name: 'Thur', sort: false },
				{ id: 'fri', name: 'Fri', sort: false },
				{ id: 'sat', name: 'Sat', sort: false },
				{ id: 'sun', name: 'Sun', sort: false },

				{ id: 'clientid', name: 'id', hidden: true},
				{ id: 'edit', name: '',
        							formatter: (cell, row) => {
          								return h('button', {
            								className: 'btn btn-success btn-sm rounded-0 fa fa-edit',
            								onClick: () => alert(`Editing "${row.cells[0].data}" "${row.cells[1].data}" with id "${row.cells[5].data}"`)
											}, '');},
          							},
          		{ id: 'delete', name: '',
        							formatter: (cell, row) => {
          								return h('button', {
            								className: 'btn btn-danger btn-sm rounded-0 fa fa-trash',
            								onClick: () => alert(`Editing "${row.cells[0].data}" "${row.cells[1].data}" with id "${row.cells[5].data}"`)
											}, '');},
          							},
				],
			data: [
				{% for client in clients %}
				{
					name: '{{ client.firstName }}' + ' ' + '{{ client.lastName}}',
					minDuration:'{{ client.clientprefs.minDuration }}',
					mon: '{{ Mon[client] }}',
					tue: '{{ Tue[client] }}',
					wed: '{{ Wed[client] }}',
					thur: '{{ Thur[client] }}',
					fri: '{{ Fri[client] }}',
					sat: '{{ Sat[client] }}',
					sun: '{{ Sun[client] }}',

					email: '{{ client.email }}',
					  mobile: '{{ client.mobile }}',
					  status: '{{ client.status }}',
					  clientid: '{{ client.id }}',

				},	
			  {% endfor %}
			],
			search: {
			  selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
			},
			sort: true,
			pagination: true,
		  }).render(document.getElementById('table'));

		</script>
	</div>
	


	
{% endblock content %}


	for client in clients:
		print(str(ClientPref.avtimes))
		availabilities = AvailTimes.query.join(PrefTimes).join(ClientPref).filter(ClientPref.clientid==client.id).all()

		print("The availabilities are " + str(availabilities) + " with length " + str(len(availabilities)))

		dictavail[client] = availabilities
		print("The dictavail  " + str(dictavail[client])) 
		# mondayTimes =[x for x in dictavail[client] if x.day=="Monday AM"]

		print(client.firstName)
		# Get the client

		print(str(client.clientprefer))
		# Get the clientpref id