{% extends "layout.html" %}
{% block content %}
<!-- <script src="https://unpkg.com/htmx.org@1.9.2"></script> -->
<script>
  $(document).ready(function() {
    $('#selectAllCheckbox').change(function() {
      var isChecked = $(this).is(':checked');
      $('input[name="availtimes"]').prop('checked', isChecked);
    });
  });
</script>
 <style>
    /* Center the container */
    html, body {
      height: 100%;
      display: flex;

      justify-content: center;
      background-color: white;
      background-image: url('static/images/back_home.png');
      background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
    }
  </style>
<div class="container pt-5">
	<legend class="border-bottom text-center pb-3"  style = "font-weight: bold; font-size: 32px; color: #5E5E5E;">{{ legend }}</legend>
	 	<div class="card pt-4 px-4" style="width: 55rem;">
			<form method="POST">
				{{ form.hidden_tag() }}
				<div class="row ">
					<div class="form-group col-sm-6 flex-column d-flex">
						{{ form.minDuration.label(class="form-control-label") }}
						{% if form.minDuration.errors %}
							{{ form.minDuration(class="form-control form-control-lg is-invalid")}}
							<div class="invalid-feedback">
								{% for error in form.minDuration.errors %}
									<span> {{ error }} </span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.minDuration(class="form-control form-control-lg") }}
						{% endif %}
					</div>

					<div id="avail-days" style="">
						<div class="form-group pl-3">
							{{ form.availtimes.label(class="form-control-label") }}
							  <div>
								<input type="checkbox" id="selectAllCheckbox" style="margin-left: 20px;"> Select All
							  </div>
							{{ form.availtimes(class="form-control-label") }}
						</div>
					</div>
				</div>
				<div class="row mr-3 mb-3 justify-content-end">
					<a href={{ url_for('main.dashboard') }} class="btn cancel-btn mr-2">Cancel</a>
					<button type="submit" class="btn btn-submit mr-2">Save Preferences</button>
				</div>
			</form>
		</div>
</div>
<!-- 	<script>

		// const btn = document.getElementById('submit');     
		// const radioButtons = document.querySelectorAll('input[name="taskStatus"]');
        // btn.addEventListener("click", () => {
        //     let selectedStatus;
        //     for (const radioButton of radioButtons) {
        //         if (radioButton.checked) {
        //             selectedStatus = radioButton.value;
        //             break;
        //         }
        //     }
        //     // show the output:
        //     // output.innerText = selectedStatus ? `You selected ${selectedStatus}` : `You haven't selected any status`;
        // });


	</script>
 -->

{% endblock content %}
