{% extends "layout.html" %}
{% block content %}

<style>
/* Center the container */
html, body {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;

}
</style>


<div class="container">

</div>
<div class="container justify-content-center pt-4">
	<legend class="border-bottom text-center mb-5" style = "font-weight: bold; font-size: 32px; color: #5E5E5E;">{{ legend }}</legend>
	<p style="text-align: center;">Notify Your Waitlist of Slot Availability</p>
	 <div class="card pt-4 px-4" style="width: 45rem;">
		<form class="form-group" action="" method="POST">
			<!-- # Hidden tag method adds a CSRF token -->
			{{ form.hidden_tag() }}

			<div class="form-group" >

				<div class="row text-left">
					<div class="col">
						<!-- Display of content -->
						{{ form.slotStartDate.label(class="form-control-label") }}
						{{ form.slotStartDate(class="form-control form-control-lg", id="dateInput") }}

						{{ form.slotStartTime.label(class="form-control-label") }}
						{{ form.slotStartTime(class="form-control form-control-lg", id="timeInput") }}

						{{ form.slotLength.label(class="form-control-label") }}
						{{ form.slotLength(class="form-control form-control-lg", id="availabilityInput") }}
					</div>

					<div class="col">
						<h2>Message template</h2>
						<p class="subject">Subject: {{ context.alertSubject1 }} {{ context.companyName }} {{ context.alertSubject2 }}</p>

						<div class="card px-2 message-body" style="background-color:#F4E4E2;">
							<p>{{ context.alertBody1 }} [Client Name]</p>

							<div id="templatebodySlotLength" class="slot-details">
								<p>{{ context.alertBody2 }} <strong>{{ context.slotLength }} {{ context.alertBody3 }}</strong> {{ context.bizType }} {{ context.alertBody4 }}</p>
							</div>

							<div class="slot-details">
								<strong><span id="stringDay">{{ context.slotDay }}</span>, <span id="stringDate">{{ context.slotDate }}</span></strong>
							<div id="templatebodyStartTime" class="slot-details">
								<p>{{ context.alertBody5 }} <strong id="tempTime"></strong> {{ context.alertBody6 }}</p>
							</div>

							<div class="alert-body">
								<p>{{ context.alertBody7 }}</p>
							</div>
							<div class="alert-body">
								<p>{{ context.alertBody8 }}</p>
							</div>
						</div>
					</div>
					<div class="row pt-3 pr-3 justify-content-end">
						<a href={{ url_for('main.dashboard') }} class="btn cancel-btn mr-2">Cancel</a>
						<button type="submit" class="btn btn-submit" value="sub-button">Select Alert Recipients</button>
					</div>
				</div>
			</div>
		</form>
	 </div>
</div>
	<script>
		// $(document).ready() function ensures that the code is executed when fully loaded
		$(document).ready(function() {
			function convertDateToStrings() {
				// Getting the date value from form field and turning it to a date object
				var dateValue = $('#dateInput').val();
				var dateObject = new Date(dateValue);

				// Converting them to strings with the right format
				var slotDateString = dateObject.toLocaleDateString();
				var slotDayString = dateObject.toLocaleDateString('en-US',{weekday:'long'});

				// Updating the message 
				$('#stringDate').text(slotDateString);
				$('#stringDay').text(slotDayString);
			}

			function updateMessageTemplate() {
			// Gets the values of form fields
			var slotStartTime = $('#timeInput').val();
			var slotLength = $('#availabilityInput').val();

			// Creating content for message template body details
			var HTMLtemplateSlotLength = '<p>{{ context.alertBody2 }}<strong>' + slotLength + '{{ context.alertBody3 }}</strong> {{ context.bizType }} {{ context.alertBody4 }}</p><strong> <span id="stringDay"></span> <span id="stringDate"></span> </strong>';
			var HTMLtemplateStartTime = '<p>{{ context.alertBody5 }} <strong>' + slotStartTime + '</strong> {{ context.alertBody6 }}</p>';

			// Updating message template with HTML content
			$('#templatebodySlotLength').html(HTMLtemplateSlotLength);
			$('#templatebodyStartTime').html(HTMLtemplateStartTime);
			
		}

			// When the form fields change, call updateMessageTemplate()
			$("#timeInput, #availabilityInput").on("input", function(){
				updateMessageTemplate();
			});
			$('#dateInput').on('input', function() {
			    convertDateToStrings();
			});

		});
		





// // Ana's code
// 		// const btn = document.getElementById('submit');     
// 		// const radioButtons = document.querySelectorAll('input[name="taskStatus"]');
//         // btn.addEventListener("click", () => {
//         //     let selectedStatus;
//         //     for (const radioButton of radioButtons) {
//         //         if (radioButton.checked) {
//         //             selectedStatus = radioButton.value;
//         //             break;
//         //         }
//         //     }
//         //     // show the output:
//         //     // output.innerText = selectedStatus ? `You selected ${selectedStatus}` : `You haven't selected any status`;
//         // });

//     var savedData = localStorage.getItem('savedData');
//     if (savedData) {
//       document.getElementById('timeInput').value = savedData;
//     }


//     document.getElementById('refresh-button').addEventListener('click', function() {
// 		var slotStartDate = document.getElementById('dateInput').value;
//       var slotStartTime = document.getElementById('timeInput').value;
//       var slotLength = document.getElementById('availabilityInput').value;
// 		console.log("slotLength");
//       // Store the values in session storage
//       sessionStorage.setItem('slotStartDate', slotStartDate);
//       sessionStorage.setItem('slotStartTime', slotStartTime);
//       sessionStorage.setItem('slotLength', slotLength);

//       var getDate = sessionStorage.getItem('slotStartDate')
//       var getTime = sessionStorage.getItem('slotStartTime')
//       var getLength = sessionStorage.getItem('slotLength')

//       document.getElementById("tempTime").value = getTime;


// 		// Optional: Provide feedback or perform additional actions



// 		location.reload();
//     });
	</script>


{% endblock content %}
