{% extends "layout.html" %}
{% block content %}
 <style>
    /* Center the container */
    html, body {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      background-image: url('static/images/back_home.png');
      background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
    }
  </style>
<div class="container-fluid px-1 py-5 mx-5">
			<legend class="border-bottom text-center mb-5" style = "font-weight: bold; font-size: 32px; color: #5E5E5E;">{{ legend }}</legend>
			 <div class="card">
				<form class="form-card py-3 mx-5" method="POST">
					{{ form.hidden_tag() }}
						<div class="form-group flex-column d-flex">
							{{ form.firstName.label(class="form-control-label") }}
							{% if form.firstName.errors %}
								{{ form.firstName(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.firstName.errors %}
										<span> {{ error }} </span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.firstName(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group flex-column d-flex">
							{{ form.lastName.label(class="form-control-label") }}
							{% if form.lastName.errors %}
								{{ form.lastName(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.lastName.errors %}
										<span> {{ error }} </span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.lastName(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group flex-column d-flex">
							{{ form.email.label(class="form-control-label") }}
							{% if form.email.errors %}
								{{ form.email(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.email.errors %}
										<span> {{ error }} </span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.email(class="form-control form-control-lg") }}
							{% endif %}
						</div>
						<div class="form-group flex-column d-flex">
							{{ form.mobile.label(class="form-control-label") }}
							{% if form.mobile.errors %}
								{{ form.mobile(class="form-control form-control-lg is-invalid")}}
								<div class="invalid-feedback">
									{% for error in form.mobile.errors %}
										<span> {{ error }} </span>
									{% endfor %}
								</div>
							{% else %}
								{{ form.mobile(class="form-control form-control-lg") }}
							{% endif %}
						</div>

					<div class="row justify-content-end">
						<div class="form-group mr-3">
							<a href={{ url_for('main.dashboard') }} class="btn cancel-btn">Cancel</a>
							<button type="submit" class="btn btn-submit">{{ btnCreateUpdate }}</button>
						</div>
					</div>
				</form>
			 </div>
</div>
	<script>

		// const btn = document.getElementById('submit');     
		// const radioButtons = document.querySelectorAll('input[name="taskStatus"]');
        // btn.addEventListener("click", () => {
        //     let selectedStatus;
        //     for (const radioButton of radioButtons) {
        //         if (radioButton.checked) {
        //             selectedStatus = radioButton.value;
        //             break;
        //         }
        //     }
        //     // show the output:
        //     // output.innerText = selectedStatus ? `You selected ${selectedStatus}` : `You haven't selected any status`;
        // });


	</script>


{% endblock content %}
