{% extends "layout.html" %}
	{% block content %}
	<div class="container">
		<h2>Kia ora {{ current_user.user_first_name }}!</h2>
		<p>Notify Your Waitlist of Slot Availability</p>
		<div class="container pt-4">
		  <div class="row">
			<div class="col-md-4">
			  <div class="card">
				<div class="card-body">
				  <h5 class="card-title">Add New Client</h5>
				  <p class="card-text">Click here to add a new client to your list.</p>
				  <a href="{{ url_for('clients.newClient') }}" class="btn btn-submit">Add Client</a>
				</div>
			  </div>
			</div>
			<div class="col-md-4">
			  <div class="card">
				<div class="card-body">
				  <h5 class="card-title">Client Information</h5>
				  <p class="card-text">View and manage client information.</p>
				  <a href="{{ url_for('clients.displayClients') }}" class="btn btn-submit">View Information</a>
				</div>
			  </div>
			</div>
			<div class="col-md-4">
			  <div class="card">
				<div class="card-body">
				  <h5 class="card-title">Client Preferences</h5>
				  <p class="card-text">Manage client preferences and settings.</p>
				  <a href="{{ url_for('clients.displayClientPrefs') }}" class="btn btn-submit">Manage Preferences</a>
				</div>
			  </div>
			</div>
		  </div>
		</div>
	</div>
	


	
{% endblock content %}


