<!-- This will soon be transferred to the home.html page, with the home.html page content swapped here -->

{% extends "layout.html" %}
{% block content %}
  <!-- Custom CSS -->
  <style>
    /* Center the container */
    html, body {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      background-color: white;
      background-image: url('static/images/back_home.png');
      background-repeat: no-repeat;
		background-attachment: fixed;
		background-size: cover;
    }
  </style>

		<div class="container mx-2 my-2" style="background-color: white;">
			<img class = "logoLoginPage" src="../static/images/logo-03.png" alt="Logo">
			<!--form-->
			<form  method="POST" action="">
				<!-- # Hidden tag method adds a CSRF token -->
				{{ form.hidden_tag() }}

					<div class="form-group">
						{{ form.userEmail.label(class="form-control-label") }}
						{% if form.userEmail.errors %}
							{{ form.userEmail(class="form-control form-control-md is-invalid")}}
							<div class="invalid-feedback">
								{% for error in form.userEmail.errors %}
									<span> {{ error }} </span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.userEmail(class="form-control form-control-md") }}
						{% endif %}
					</div>
					<div class="form-group">
						{{ form.userPassword.label(class="form-control-label") }}
						{% if form.userPassword.errors %}
							{{ form.userPassword(class="form-control form-control-md is-invalid")}}
							<div class="invalid-feedback">
								{% for error in form.userPassword.errors %}
									<span> {{ error }} </span>
								{% endfor %}
							</div>
						{% else %}
							{{ form.userPassword(class="form-control form-control-md") }}
						{% endif %}
					</div>
					<!--remember me check-box and forgot password link-->
					<div class = "d-flex justify-content-between align-items-center">
						<div class='form-check mb-0'>
							{{ form.userRemember(class="form-check-input") }}
							{{ form.userRemember.label(class="small form-check-label") }}
						</div>
						<small class="text-body">
							<a href="#">Forgot your password?</a>
						</small>
					</div>
					<!--login button-->
				<div class="pt-3">
					{{ form.submit(class="btn btn-block loginbtn") }}
					<!--link to the registration page-->
				</div>


			</form>
		</div>
{% endblock content %}



