<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">


    <!-- Putting JQuery here to see if this helps with loading scripts -->
	<script src="{{ url_for('static', filename='myscripts.js') }}"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <!-- Bootstrap CSS -->
    <!-- Testing to see if downgrading to 4.6 works for dropdowns.. it does!! -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">

    <!-- Linking our custom CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='main.css') }}">
  	<script src="https://kit.fontawesome.com/2ca52e1c9f.js" crossorigin="anonymous"></script>


	{% if title %}
		<title>Boostly - {{ title }}</title>
	{% else %}
		<title>This is the new Homepage!</title>
	{% endif %}
	</head>

	<body>
		<!-- Navbar and Making it responsive  -->
		<header class="site-header">
		  <nav class="navbar navbar-expand-md navbar-dark back-color-nav fixed-top py-3" id="navbarToHide">
		    <div class="container">
		      <a class="navbar-brand mr-4" href="/">Boostly</a>
		      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
		        <span class="navbar-toggler-icon"></span>
		      </button>
		      <!-- Navbar Left Side -->

		      <div class="collapse navbar-collapse" id="">
		        <div class="navbar-nav mr-auto">
		        	{% if current_user.is_authenticated %}
		        		<a class="nav-item nav-link"  style="color:#424242;" href="{{ url_for('main.dashboard') }}">Dashboard</a>
		        	{% else %}
<!--		          	<a class="nav-item nav-link" style="color:#424242;" href="{{ url_for('main.home') }}">Home</a>-->
					<a class="nav-item nav-link" style="color:#424242;" href="{{ url_for('main.home') }}">Product</a>
					<a class="nav-item nav-link" style="color:#424242;" href="{{ url_for('main.home') }}">Team</a>

		        	{% endif %}

		        </div>
		        <!-- Navbar Right Side -->
		        <div class="navbar-nav">
		        	<!-- # Using ginja2 conditional and using current_user.is_authenticated to check if user is logged in or not -->
		        	{% if current_user.is_authenticated %}
					<div class="dropdown">
						  <button class="btn dropdown-toggle" type="button" id="clientDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
							Your clients
						  </button>
						  <div class="dropdown-menu" aria-labelledby="clientDropdown">
						  	<a class="dropdown-item" href="{{ url_for('clients.newClient') }}">Add new client</a>
							<a class="dropdown-item" href="{{ url_for('clients.displayClients') }}">Client Information</a>
							<a class="dropdown-item" href="{{ url_for('clients.displayClientPrefs') }}">Client Preferences</a>
						  </div>
					</div>
		        		<a class="nav-item nav-link"  style="color:#424242;" href="{{ url_for('users.account') }}">Account</a>
		        		<a class="nav-item nav-link"  style="color:#424242;" href="{{ url_for('users.logout') }}">Logout</a>
		        	{% else %}
			          <a class="nav-item nav-link"  style="color:#424242;" href="{{ url_for('users.login') }}">Login</a>
			          <a class="nav-item nav-link"  style="color:#424242;" href="{{ url_for('users.register') }}">Register</a>
		          {% endif %}
		        </div>
		      </div>
		    </div>
		  </nav>
		</header>


		<main role="main">
		    	{% with messages = get_flashed_messages(with_categories=true) %}
		    		{% if messages %}
		    			{% for category, message in messages %}
		    				<div class="alert alert-{{ category }}">
		    						{{ message }}
		    				</div>
		    			{% endfor %}
		    		{% endif %}
		    	{% endwith %}
		      {% block content %}{% endblock %}
		</main>


		<!-- Optional JS for Bootstrap - jQuery first, then Popper.js, then Bootstrap -->

		<!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script> -->
		<!-- <script src="https://unpkg.com/@popperjs/core@2"></script> -->
<!-- 		<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script> -->

		<!-- Again testing to see if 4.6 works.. it does!! -->


		<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>


		 <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

	</body>
</html>