{% extends "layout.html" %}
	{% block content %}
	<div class="container pt-3">
		<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
		<!-- <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script> -->
		<div>
			<h1 style="text-align: center;" >Select clients to alert</h1>
			<hr>
			
			<div id="table"></div>
		</div>

		<script type="module">


			// import { html, render } from 'https://unpkg.com/htm/preact/standalone.module.js';
			import { Grid, h, html } from "https://unpkg.com/gridjs?module";


			$(document).ready(function () {

			let selectedClients = [];
			console.log(selectedClients);
			function onSelectorSelect(clientID) {
				// Initializing the list of selected clients if it doesn't exist
				if (!selectedClients) {
					selectedClients = [];
				}

				// Checking the default behavior of the checkboxes
				const isChecked = event.target.checked;
				if (isChecked && !selectedClients.includes(clientID)) {
					selectedClients.push(clientID);
				} else if (!isChecked && selectedClients.includes(clientID)) {
					selectedClients = selectedClients.filter(id => id !== clientID);
				}

				// Updating the value of the hidden field
				const selectedClientsField = $('#selectedClients');
				selectedClientsField.val(selectedClients.join(','));

				console.log(selectedClients);
			}

				

	const grid  = new Grid({

				columns: [
					{ id: 'name', name: 'Name' },
					{ id: 'slotDay', name: '{{ alertDayOfWeek }}', sort: true },
					{ id: 'clientid', name: 'id', hidden: true},
					{ id: 'selected', name: 'Alert?',
									formatter: (cell, row, rowIndex) => {
									let clientID = (rowIndex + 1).toString();

										return h('div', {}, [
											h('div', {
												className: 'select-group',
											}, [
												h('input', {
													className: 'form-check',
													type: 'checkbox',
													id: 'myCheckbox',
													value: true,
													// checked: true,
													onClick: () => onSelectorSelect(row.cells[2].data),
												}),

											]),
										]);
									},
								},
							],
			data: [
				{% for human in availhumans %}
				{
					name: '{{ human.first_name }} {{human.last_name}}',
					slotDay: "⚫",
					clientid: '{{ human.id }}',


				},
				{% endfor %}
			],
			search: {
				selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
			},
			sort: true,
			pagination: true,
			language: {
				noRecordsFound: "None of your client's preferences matches your new slot availability date",
			}
			
			}).render(document.getElementById('table'));

			// Function to reload and check all checkboxes !NOT WORKING!
			function reloadCheckboxes() {
				// Get all the checkboxes within the Grid
				console.log("checkboxes are set to true");
				const checkboxes = document.querySelectorAll('.grid-cell input[type="checkbox"]');

				// Loop through each checkbox
				checkboxes.forEach(checkbox => {
				// Set the checked attribute to true
				checkbox.checked = true;
				});
				console.log("checkboxes are set to true");
			}

			// Event handler for Grid load
			function onGridLoad() {
			console.log("checkboxes are set to true");
			reloadCheckboxes();

			}

			// Call the function when the Grid is loaded
			grid.on('grid:load', onGridLoad);

		});
		</script>

		<form method="POST" action="/waitalert/{{ alertid }}/alertees">
			<!-- # Hidden tag method adds a CSRF token -->
			{{ form.hidden_tag() }}

			<!-- Hidden field for selected client IDs -->
			{{ form.selectedClients() }}

			<!-- {{ form.submit }} -->
			<div class="row pt-5 justify-content-end pr-3">
				<a href="{{ url_for('alerts.newWaitAlert', tempalertid=alertid, owneremail=useremail )}}" class="btn cancel-btn mr-2">Back</a>
				<button type="submit" class="btn btn-submit">Send Alert</button>
			</div>

		</form>


	</div>
	


	
{% endblock content %}

