{% extends "layout.html" %}
	{% block content %}
	<div class="container">
		<link href="https://unpkg.com/gridjs/dist/theme/mermaid.min.css" rel="stylesheet" />
		<!-- <script src="https://unpkg.com/gridjs/dist/gridjs.umd.js"></script> -->

		



		<div>
			<h1>Select clients to alert</h1>


			


			{% for human in availhumans %}

				name: {{ human.firstName }},



			{% endfor %}
			<hr>
			<div id="table"></div>
		</div>

		<script type="module">


			// import { html, render } from 'https://unpkg.com/htm/preact/standalone.module.js';
			import { Grid, h, html } from "https://unpkg.com/gridjs?module";

			let selectedClients = []

			function onSelectorSelect(clientID) {
				if (selectedClients.includes(clientID)) {
					// Client ID already selected, remove it from the list -->
					selectedClients = selectedClients.filter(id => id !== clientID);
				} else {
					// Add the client ID to the list of selected clients -->
					selectedClients.push(clientID);
				}
				// Updating the value of the hidden field -->
				const selectedClientsField = document.getElementById('selectedClients');
				selectedClientsField.value = selectedClients.join(',');
			  console.log(selectedClientsField)
			};
				



			new Grid({

				columns: [
					{ id: 'name', name: 'Name' },
					{ id: 'slotDay', name: '{{ alertDayOfWeek }}', sort: true },
					{ id: 'clientid', name: 'id', hidden: true},
					{ id: 'selected', name: 'Alert?',
									formatter: (cell, row, rowIndex) => {
									let clientID = (rowIndex + 1).toString();

										return h('div', {}, [
											h('div', {
												className: 'select-group',
											}, [
												h('input', {
													className: 'form-check',
													type: 'checkbox',
													onClick: () => onSelectorSelect(row.cells[2].data)

												}),

											]),
										])
										;},
									},

				],
			data: [
				{% for human in availhumans %}
				{
					name: '{{ human.firstName }}',
					slotDay: "Test",
					clientid: '{{ human.id }}',




				},
				{% endfor %}
			],
			search: {
				selector: (cell, rowIndex, cellIndex) => [0, 1, 4].includes(cellIndex) ? cell : null,
			},
			sort: true,
			pagination: true,
			}).render(document.getElementById('table'));



		</script>

		<form method="POST" action="/waitalert/{{ alertid }}/alertees">
			<!-- # Hidden tag method adds a CSRF token -->
			{{ form.hidden_tag() }}

			<!-- Hidden field for selected client IDs -->
			{{ form.selectedClients() }}

			<!-- {{ form.submit }} -->
			<div class="row pt-5 justify-content-end pr-1">
				<a href={{ url_for('alerts.newWaitAlert', tempalertid=alertid, owneremail="changethis") }} class="btn cancel-btn pr-1">Back</a>
				<button type="submit" class="btn btn-submit">Send Alert</button>
			</div>

		</form>


	</div>
	


	
{% endblock content %}

