
<html>
	<head></head>
	<body>
		<tr height="32" style="height:32px">
			<td></td>
		</tr>
		<tr align="center">
			<td>
				<div>
					<div></div>
				</div>
				<table border="0" cellspacing="0" cellpadding="0"
					style="padding-bottom:20px;min-width:80%;width:80%">
					<tbody>
						<tr>
							<td width="8" style="width:8px"></td>
							<td>
								<div style="border-style:solid;border-width:thin;border-color:#dadce0;border-radius:8px;padding:40px 40px"
									align="center" class="m_-1106791331338812591mdv2rw"><img src="https://boostly-site-images.s3.amazonaws.com/logo-03.png"
										width="148" height="48" aria-hidden="true" style="margin-bottom:5px" alt="Boostly" class="CToWUd" data-bit="iit">
									<div
										style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;border-bottom:thin solid #dadce0;color:rgba(0,0,0,0.87);line-height:32px;padding-bottom:24px;text-align:center;word-break:break-word">
										<div style="font-size:18px">{salut} </div>
									</div>
									<div
										style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:rgba(0,0,0,0.87);line-height:10px;padding-top:20px;text-align:center">
										<p>{alertBody2} 
										<div style="font-size:18px;padding:15px"><strong>{slotLength} {alertBody3}</strong></div> 
										<br> {bizType} {alertBody4}
										<div style="font-size:18px;padding:15px; padding-top: 25px"><strong>{slotDay}, {slotDate}</strong></div>
										<div style="font-size:18px;padding:15px">{alertBody5} <strong> {slotStartTime}</strong> {alertBody6}</div>
										</p>
									</div>
									<div
										style="padding-top:16px;text-align:center"><a
											href= {wurl}
											style="font-family:'Google Sans',Roboto,RobotoDraft,Helvetica,Arial,sans-serif;line-height:16px;color:#ffffff;font-weight:400;text-decoration:none;font-size:14px;display:inline-block;padding:10px 24px;margin:5px;background-color:#A68986;border-radius:5px;min-width:100px"
											target="_blank">Grab the slot!</a>
									</div>
									<div
										style="font-family:Roboto-Regular,Helvetica,Arial,sans-serif;font-size:14px;color:rgba(0,0,0,0.87);line-height:30px;padding-top:20px;text-align:center">
										<p>{alertBody7}
											<br>{staffname}
										</p>
									</div>
 
									
									<div style="padding-top:20px;font-size:14px;line-height:16px;color:#5f6368;letter-spacing:0.3px;text-align:center">
										<b>Note:</b><br>
										{alertBody8}<br>
									</div>
								</div>
							</td>
							<td width="8" style="width:8px"></td>
						</tr>
					</tbody>
				</table>
			</td>
		</tr>
		<tr height="32" style="height:32px">
			<td></td>
		</tr>
	</body>
	</html>

<!-- {% extends "layout.html" %}
{% block content %}


<div class="container">
		<h2>Kia ora {{ current_user.user_first_name }}!</h2>
		<p>Notify Your Waitlist of Slot Availability</p> 
	</div>
<div class="container-fluid px-1 py-5 mx-5">
	<div class="row d-flex justify-content-center">
		<div class="col-xl-7 col-lg-8 col-md-9 col-11 text-center">
			<legend class="border-bottom text-center mb-5" style = "font-weight: bold; font-size: 32px; color: #5E5E5E;">{{ legend }}</legend>
			 <div class="card">
				<form class="form-card py-3 mx-5" method="POST">
					{{ form.hidden_tag() }}
					<div class="row justify-content-between text-left">
						<div class="form-group col-sm-6 flex-column d-flex">
						-->



							<!-- Display of content -->
							<!--{{ form.slotStartDate.label(class="form-control-label") }}
							{{ form.slotStartDate(class="form-control form-control-lg") }}		

							{{ form.slotStartTime.label(class="form-control-label") }}
							{{ form.slotStartTime(class="form-control form-control-lg") }}		

							{{ form.slotLength.label(class="form-control-label") }}
							{{ form.slotLength(class="form-control form-control-lg") }}		

							Message template
							Subject: {{ context.alertSubject1 }} {{ context.companyName }} {{ context. alertSubject2 }}

							Message body:
							{{ context. alertBody1 }} [Client Name] 
							{{ context.alertBody2 }} {{ context.slotLength }} {{ context.alertBody3 }} {{ context.bizType }}
							{{ context.alertBody4 }} 
							{{ context.slotDay }} {{ context.slotDate }}
							{{ context.alertBody5 }} {{ context.slotStartTime }} {{ context.alertBody6 }}
							{{ context.alertBody7 }} 

							{{ context.alertBody8 }} 



	
					<div class="row justify-content-end">
						<div class="form-group mr-3">
							<a href={{ url_for('main.dashboard') }} class="btn btn-info">Cancel</a>
							<button type="submit" class="btn btn-outline-info">Select Alert Recipients</button>
						</div>
					</div>
				</form>
			 </div>
		</div>
	</div>
</div>


{% endblock content %} -->
