packages:
  yum:
    amazon-linux-extras: []
    nginx: []

commands:
    01_postgres_activate:
        command: sudo amazon-linux-extras enable postgresql10
    02_postgres_install:
        command: sudo yum install -y postgresql-devel
    03_nginx_configure:
      command: |
        sudo sed -i 's/listen       80 default_server;/listen       8000;/g' /etc/nginx/nginx.conf
        sudo systemctl restart nginx