.dropdown {
    position: relative;
    display: inline-block;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropbtn {
    /* background-color: aquamarine; */
  }

  .btn{
    background-color: #EECAC6;
    color:#707070;
  }

  .btn:hover{
    background-color:white;
    border-width: 2px;
    border-color: #EECAC6;
    color:#707070;
  }

  .logoLoginPage{
    width:240px;
    height: 90px;
  }

.signOutBtn{
  position: absolute;
  right: 100px;
}

.logoNav{
  width: 140px;
  height: auto;
}

#messagePreview{
  height: 400px;
}